
// Wide Screens
@include mediaXl{
    .projects{
        grid-template-columns: repeat(3, 1fr);
        img{
            min-height: 260px;
            max-height: 260px;        
        }
    }
    .about-info{
        
        grid-template-areas: 
        'bioimage bio'
        'skillsList job1 job2';
        grid-template-columns: repeat(3, 1fr);
    }
    .technical{
        float: left;
        padding-left: 0rem;
    }
    .non-technical{  
        float: right;    
        padding-right: 0rem;
    }
}

// Desktops & Laptops
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3, 1fr);

        img{
            min-width: 223px;
            max-height: 200px;      
        }
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'skillsList'
        'job1'
        'job2'
        'resume';

        grid-template-columns: 1fr;
    } 
    .technical{
        float: left;
        padding-left: 10rem;
    }
    .non-technical{   
        float: right;   
        padding-right: 10rem;
    }

    .contact-info{
        font-size: 1.5rem;
        border: 3px #fff solid;
        padding: 0.5rem 1.5rem;
        //margin-left: 70px;
        margin: 0.6rem;
        align-items: center;
        @include easeOut;
    }

    .contact-icons{
        position: relative;
        //margin-left: 20%;
        margin: 17rem;
        
        //margin-bottom: 100px;
        align-items: center;
        font-size: xx-large;
    }
}

// Tablets & Small Laptops
@include mediaMd{
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    .technical{
        float: left;
        padding-left: 0rem;
    }
    .non-technical{  
        float: right;    
        padding-right: 0rem;
    }


    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding{
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait{
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
            background-position: center;
            background-size: cover;
        }
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'skillsList'
        'job1'
        'job2'
        'resume';

        grid-template-columns: 1fr;  
    }    

    .technical{
        float: left;
        padding-left: 4rem;
    }
    .non-technical{  
        float: right;    
        padding-right: 4rem;
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
        img{
            max-height: 200px;  
            min-width: 235px;    
        }
    }

    .contact-info{
        font-size: 1.4rem;
        border: 3px #fff solid;
        padding: 0.5rem 1.5rem;
        margin: 1rem;
        @include easeOut;
    }
    .contact-icons{
        position: relative;
        margin: 100%;
        font-size: xx-large;;
    }
}

// Smartphones
@include mediaSm{
    body{
        font-size: 0.8rem;
    }
    main{
        align-items: center;
        text-align: center;
        position: static;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 3rem
        }
    }
    
    .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'skillsList'
        'job1'
        'job2'
        'resume';

        grid-template-columns: 1fr;  
    } 

    .technical{
        float: left;
        padding-left: 0rem;
    }
    .non-technical{  
        float: right;    
        padding-right: 0px;
        align-content: flex-end;
    }
    .projects{
        grid-template-columns: 1fr;
        img{
            max-height: 200px;      
        }
        position: static;

    }  
    .contact-info{
        font-size: 1rem;
        border: 3px #fff solid;
        padding: 0.5rem 1.5rem;
        margin: 1rem;
        @include easeOut;
    }

    .contact-icons{
        position: relative;
        margin: 100%;
        font-size: xx-large;
    }
    .tabs {
        display: flex;
        margin-right: 50px;
      }

    
}